
.viewer-comment-list{

    width: 20%;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px 0 0;
}
.viewer-comment-list .viewer-comment {
    border: 1px solid #d4dbe1;
    border-radius: 6px;
    padding: 15px;
    font-size: 12px;
    transition: all .15s ease-out;
    cursor: pointer;
    transform: translate(0, 0);
    opacity: 1;
    overflow: hidden;
    background: #fff;
    position: relative;
    margin-top: 20px;
}
.viewer-comment-list .viewer-comment .viewer-comment-user {
    display: block;
    color: #0a131c;
    line-height: 17px;
    font-size: 12px;
    font-weight: bold;
}
.viewer-comment-list .viewer-comment  .viewer-comment-time {
    display: inline-block;
    color: #0a131c;
    line-height: 16px;
    font-size: 11px;
    margin-top: 4px;
}
.viewer-comment-list .viewer-comment .viewer-comment-thumbnail{
    position: relative;
    margin: 15px 0;
    display: block;
    list-style: none;
    border: 1px solid #d4dbe1;
    border-radius: 4px;
    transition: all .25s ease-out;
    padding-top: calc(56.25% + 36px);
}
.viewer-comment-list .viewer-comment .viewer-comment-thumbnail .viewer-comment-thumbnail-wrap{
    width: 235px;
    height: 130px;
    margin-left: 3px;
    margin-top: -170px;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
    position: relative;
    top: 0;
    bottom: 36px;
    display: block;
}
.viewer-comment-list .viewer-comment .viewer-comment-thumbnail  .viewer-comment-thumbnail-txt{
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #0a131c;
    border-top: 1px solid #d4dbe1;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}