<!-- <div class="app">
    <canvas id="snapshot" style="position: absolute;"></canvas>
    <div class="viewer-wrapper">
        <div class="viewer-list-wrapper">
            <div class="viewer-list-header">
                <div><h3>Views</h3></div>
                <div style="display:inline-flex">
                </div>
            </div>
            <div class="viewer-left-panel-shadow"></div>
            
        </div>
    </div>
</div> -->

<div id="viwerContainer" style="height:773px;position: relative; width: 100%;margin-top: 0px;  border-style: solid;
border-color: #191919;"></div>
       <!-- <div style="width: 100px;height: 100px;">
           <div id="imgurl" [style.background] = "'url('+ url +')'"></div>
       </div> -->
<div class="viewer-comment-list">
    <div class="viewer-comment">
        <span class="viewer-comment-user">Harsh Joshi</span>
        <span class="viewer-comment-time">10:07 AM</span>
        <span class="viewer-comment-thumbnail">
            <!-- <div class="viewer-comment-thumbnail-wrap" style="background-image: url('https://monarch-test.s3.ap-south-1.amazonaws.com/51/worktable/2125/output/1/result.svf');">
            </div> -->
            <canvas  id="snapshot"  class="viewer-comment-thumbnail-wrap"></canvas>
            <div class="viewer-comment-thumbnail-txt">S101 - Framin Plans</div>
        </span>
      
            <!-- <div *ngFor = "let comments of viewercomment">
                <a href="{{comments.url}}"></a>
            </div> -->
            <!-- <div style="background-image: url('')">

            </div> -->

 
    </div>
</div>
<!-- <div style="width: 49vm;height: 100vh;display: block;">
    <canvas  id="snapshot" style="position: absolute;"></canvas>
    <button type="button" (click)="snapshot()" style="position: absolute;">snapshot</button>
</div> -->

<!-- use when panel is used -->
<!-- <div id="markup-panel">
    <button type="button"  id="arrowMarkup" >Arrow</button>&nbsp;&nbsp;
    <button type="button" id="textMarkup">Text</button>&nbsp;&nbsp;
    <button type="button" id="rectMarkup">Rectangle</button>&nbsp;&nbsp;
    <button type="button" id="pencilMarkup">Pencil</button>&nbsp;&nbsp;
    <button type="button" id="cloudMarkup">Cloud</button>&nbsp;&nbsp;
    <button type="button" id="save">save</button>
    <button type="button" id="cancel">cancel</button>
</div> -->